
.pink{
    background: #FFF9F4;
}
ul li {
    padding-right: 2rem;
}
ul li a{
    color: black !important;
    font-weight: 500;
}
.logo{
    width: 200px;
}
head{
    border: 1px solid red;
}
.orange{
    color: #FA804C;
}
.orange2 {
    background-color: rgba(255, 68, 0, 0.87);
}
.blue{
    background:#3847CD;
}
.fab{
    
margin-right: .3rem;
}


i:hover{
    cursor: pointer;
    color: blue;

}

